# Print and its Functions

In [3]:
print("Welcome python")

Welcome python

# print with end

In [7]:
print("Hello", end = " -  ")
print("world")

Hello -  world

In [10]:
print("Hello", end = " ### ")
print("world")

Hello ### world

In [11]:
print("Hello", end = "\n")
print("world")

Hello
world

# print two string togather

In [18]:
print('first String','Second String')

first String Second String

In [19]:
print('first String'+'Second String')

first StringSecond String

# print wtith sep

In [23]:
print("hello","word",sep = '....')

hello....word

# Variables

In [1]:
# declearing a variable
var1 = "Hello"

In [2]:
var1

'Hello'

In [3]:
# Another way
print(var1)

Hello

In [4]:
# assigning integer value to the variable.
var2 = 123

In [15]:
var2

123

In [26]:
#floating variable
var3 = 1.234455454
var3

1.234455454

In [31]:
# Boolean Variable
var4 = True
var5 = False
print(var4,var5)

True False

In [28]:
# assigning String value to the variable.
var6 = "this is a string"
var6

'this is a string'

In [29]:
# Concatinating two string with no single character space b/w them
var7 = "with second string"
var6+var7

'this is a stringwith second string'

In [30]:
'''When replacing with comma b/w them
it will create single character space b/w the string'''
print(var6,var7)

this is a string with second string

In [32]:
# Finding type data types of variale.
type(var1)

str

In [33]:
type(var2)

int

In [34]:
type(var3)

float

In [35]:
type(var4)

bool

In [36]:
type(var5)

bool

In [37]:
type(var6)

str

# Arrays

In [2]:
dishes = ["Biryani", "Qourma", "meetha"]
dishes

# dishes is the array variable and inside the bracket is its elements.

['Biryani', 'Qourma', 'meetha']

In [3]:
# Replacing a Value of element in an array.
dishes[0] = "Qabab"

In [4]:
# calling a single element. 
x = dishes[0]
x

'Qabab'

In [5]:
# Finding lenght of an array.
len(dishes)

3

In [6]:
# Adding a new element in an array list.
dishes.append("kheer")
dishes

['Qabab', 'Qourma', 'meetha', 'kheer']

In [7]:
# Deleting an element in an array by using index number.
dishes.pop(2)
dishes

['Qabab', 'Qourma', 'kheer']

In [8]:
# Deleting an element in an array by using element name.
dishes.remove("kheer")
dishes

['Qabab', 'Qourma']

In [9]:
dishes

['Qabab', 'Qourma']

In [10]:
# Making new list by copying element form the old list.
x = dishes.copy()
x

['Qabab', 'Qourma']

In [11]:
# Clear all element from of the list.
x.clear()

In [12]:
x

[]

In [13]:
int_list = (1,2,3,4)
int_list

(1, 2, 3, 4)

In [14]:
# Adding new list to the old list.
dishes.extend(int_list)

In [15]:
dishes

['Qabab', 'Qourma', 1, 2, 3, 4]

In [16]:
# Adding a new element into the list with specific index.
dishes.insert(1,"Chicken biryani")

In [17]:
dishes

['Qabab', 'Chicken biryani', 'Qourma', 1, 2, 3, 4]

In [18]:
# Reversing a list
dishes.reverse()

In [19]:
dishes

[4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [23]:
# Another way of removing element.
del dishes[0]
dishes

['Qourma', 'Chicken biryani', 'Qabab']

In [24]:
# Way of joining two list.
list2 = [1,2,3,4]
list3 = list2 + dishes
print(list3)

[1, 2, 3, 4, 'Qourma', 'Chicken biryani', 'Qabab']

# Tuples

In [26]:
tuple1 = (1,2,3)
print(tuple1)

(1, 2, 3)

In [27]:
tuple2 = ("A","B","C")
tuple2

('A', 'B', 'C')

## Set
A set is a collection which is unordered and unindexed

In [1]:
varset = {"how", "are", "you"}
print(varset)

{'how', 'you', 'are'}

In [2]:
# Checking condition.
print("are" in  varset)

True

In [3]:
# Adding an item in the set.

varset.add("world")

In [4]:
varset

{'are', 'how', 'world', 'you'}

In [6]:
# Add multiple items to a set

varset.update(["I","am","fine"])
varset

{'I', 'am', 'are', 'fine', 'how', 'world', 'you'}

In [10]:
# Removing item in the set.
"""varset.remove("are")
varset"""
# set does'nt support remove function.

'varset.remove("are")\nvarset'

In [11]:
varset.discard("are")
varset

{'I', 'am', 'fine', 'how', 'world', 'you'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed.
In Python dictionaries are written with curly brackets, and they have keys and values.

In [12]:
dict1 = {"key": "Locker", "fruit":"apple", "mango": "Chausa"}
dict1

{'key': 'Locker', 'fruit': 'apple', 'mango': 'Chausa'}

In [13]:
x = dict1["key"]
x

'Locker'

In [14]:
x = dict1.get("key")
x

'Locker'

In [15]:
# Assigning different value to the key.
dict1["fruit"] = "Orange"

In [16]:
dict1

{'key': 'Locker', 'fruit': 'Orange', 'mango': 'Chausa'}

In [17]:
# Adding item in the dictionary.
dict1

{'key': 'Locker', 'fruit': 'Orange', 'mango': 'Chausa'}

In [18]:
dict1["colour"] = "Red"

In [19]:
dict1

{'key': 'Locker', 'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

In [20]:
# Removing item with the specific key name in the dictionary.
dict1.pop("key")

'Locker'

In [22]:
dict1
# Another wayof removing item by del keyword.

{'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

### Nested dictionary

In [24]:
Courses = {
  "course1" : {
    "name" : "OS",
    "year" : 2019
  },
  "course2" : {
    "name" : "WE",
    "year" : 2019
  },
  "course3" : {
    "name" : "DBMS",
    "year" : 2019
  }
}
Courses

{'course1': {'name': 'OS', 'year': 2019},
 'course2': {'name': 'WE', 'year': 2019},
 'course3': {'name': 'DBMS', 'year': 2019}}