# Print and its Functions

In [131]:
print("Welcome python")

Welcome python

# print with end

In [132]:
print("Hello", end = " -  ")
print("world")

Hello -  world

In [133]:
print("Hello", end = " ### ")
print("world")

Hello ### world

In [134]:
print("Hello", end = "\n")
print("world")

Hello
world

# print two string togather

In [135]:
print('first String','Second String')

first String Second String

In [136]:
print('first String'+'Second String')

first StringSecond String

# print wtith sep

In [137]:
print("hello","word",sep = '....')

hello....word

# Variables

In [245]:
# declearing a variable and passing by value
var1 = "Hello"

In [246]:
var1

'Hello'

In [248]:
varr2 = var1 # passing by reference
print(varr2)

Hello

In [140]:
# Another way
print(var1)

Hello

In [141]:
# assigning integer value to the variable.
var2 = 123

In [142]:
var2

123

In [143]:
#floating variable
var3 = 1.234455454
var3

1.234455454

In [144]:
# Boolean Variable
var4 = True
var5 = False
print(var4,var5)

True False

In [240]:
# assigning String value to the variable.
var6 = "this is a string"
var6

'this is a string'

In [241]:
id(var6)

139988913409744

In [146]:
# Concatinating two string with no single character space b/w them
var7 = "with second string"
var6+var7

'this is a stringwith second string'

In [147]:
'''When replacing with comma b/w them
it will create single character space b/w the string'''
print(var6,var7)

this is a string with second string

In [148]:
# Finding type data types of variale.
type(var1)

str

In [149]:
type(var2)

int

In [150]:
type(var3)

float

In [151]:
type(var4)

bool

In [152]:
type(var5)

bool

In [242]:
type(var6)

str

In [249]:
#finding class of varriable type 
print(type(var6))

<class 'str'>

In [252]:
#checking variable equality
id(var1)==id(varr2)

True

In [263]:
# finding index number in the string
varrr3 = "Pakistan"
varrr3.find('s')

4

In [265]:
# finding lenght of variable
len(varr3)

8

In [269]:
# Concatinating two String
name = "pakistan"
dobyear = 1947

print("my name is "+name+" and my birth year is "+str(dobyear))

my name is pakistan and my birth year is 1947

# Arrays

In [154]:
dishes = ["Biryani", "Qourma", "meetha"]
dishes

# dishes is the array variable and inside the bracket is its elements.

['Biryani', 'Qourma', 'meetha']

In [155]:
# Replacing a Value of element in an array.
dishes[0] = "Qabab"

In [156]:
# calling a single element. 
x = dishes[0]
x

'Qabab'

In [157]:
# Finding lenght of an array.
len(dishes)

3

In [158]:
# Adding a new element in an array list.
dishes.append("kheer")
dishes

['Qabab', 'Qourma', 'meetha', 'kheer']

In [159]:
# Deleting an element in an array by using index number.
dishes.pop(2)
dishes

['Qabab', 'Qourma', 'kheer']

In [160]:
# Deleting an element in an array by using element name.
dishes.remove("kheer")
dishes

['Qabab', 'Qourma']

In [161]:
dishes

['Qabab', 'Qourma']

In [162]:
# Making new list by copying element form the old list.
x = dishes.copy()
x

['Qabab', 'Qourma']

In [163]:
# Clear all element from of the list.
x.clear()

In [164]:
x

[]

In [165]:
int_list = (1,2,3,4)
int_list

(1, 2, 3, 4)

In [166]:
# Adding new list to the old list.
dishes.extend(int_list)

In [167]:
dishes

['Qabab', 'Qourma', 1, 2, 3, 4]

In [168]:
# Adding a new element into the list with specific index.
dishes.insert(1,"Chicken biryani")

In [169]:
dishes

['Qabab', 'Chicken biryani', 'Qourma', 1, 2, 3, 4]

In [170]:
# Reversing a list
dishes.reverse()

In [171]:
dishes

[4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [172]:
# Another way of removing element.
del dishes[0]
dishes

[3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [239]:
# Way of joining two list.
list2 = [1,2,3,4]
list3 = list2 + dishes
print(list3)

[1, 2, 3, 4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

# Tuples

In [174]:
tuple1 = (1,2,3)
print(tuple1)

(1, 2, 3)

In [175]:
tuple2 = ("A","B","C")
tuple2

('A', 'B', 'C')

## Set
A set is a collection which is unordered and unindexed

In [176]:
varset = {"how", "are", "you"}
print(varset)

{'are', 'how', 'you'}

In [177]:
# Checking condition.
print("are" in  varset)

True

In [178]:
# Adding an item in the set.

varset.add("world")

In [179]:
varset

{'are', 'how', 'world', 'you'}

In [180]:
# Add multiple items to a set

varset.update(["I","am","fine"])
varset

{'I', 'am', 'are', 'fine', 'how', 'world', 'you'}

In [181]:
# Removing item in the set.
"""varset.remove("are")
varset"""
# set does'nt support remove function.

'varset.remove("are")\nvarset'

In [182]:
varset.discard("are")
varset

{'I', 'am', 'fine', 'how', 'world', 'you'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed.
In Python dictionaries are written with curly brackets, and they have keys and values.

In [183]:
dict1 = {"key": "Locker", "fruit":"apple", "mango": "Chausa"}
dict1

{'fruit': 'apple', 'key': 'Locker', 'mango': 'Chausa'}

In [184]:
x = dict1["key"]
x

'Locker'

In [185]:
x = dict1.get("key")
x

'Locker'

In [186]:
#Another way of creating dictionaries.
dict2 = dict(brand="Ford", model="Mustang", year=1964)
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [187]:
# Assigning different value to the key.
dict1["fruit"] = "Orange"

In [188]:
dict1

{'fruit': 'Orange', 'key': 'Locker', 'mango': 'Chausa'}

In [189]:
# Adding item in the dictionary.
dict1

{'fruit': 'Orange', 'key': 'Locker', 'mango': 'Chausa'}

In [190]:
dict1["colour"] = "Red"

In [191]:
dict1

{'colour': 'Red', 'fruit': 'Orange', 'key': 'Locker', 'mango': 'Chausa'}

In [192]:
# Removing item with the specific key name in the dictionary.
dict1.pop("key")

'Locker'

In [193]:
dict1
# Another wayof removing item by del keyword.

{'colour': 'Red', 'fruit': 'Orange', 'mango': 'Chausa'}

### Nested dictionary

In [194]:
Courses = {
  "course1" : {
    "name" : "OS",
    "year" : 2019
  },
  "course2" : {
    "name" : "WE",
    "year" : 2019
  },
  "course3" : {
    "name" : "DBMS",
    "year" : 2019
  }
}
Courses

{'course1': {'name': 'OS', 'year': 2019},
 'course2': {'name': 'WE', 'year': 2019},
 'course3': {'name': 'DBMS', 'year': 2019}}

In [195]:
# Another way of nesting a dictionaries.
course1 = {
    "name" : "OS",
    "year" : 2019
  }
course2 = {
    "name" : "WE",
    "year" : 2019
  }
course3 = {
    "name" : "DBMS",
    "year" : 2019
  }
Course = {
    "mycourse1": course1,
    "mycourse2": course2,
}
Course

{'mycourse1': {'name': 'OS', 'year': 2019},
 'mycourse2': {'name': 'WE', 'year': 2019}}

# (Conditions)

### if else

In [196]:
a = 55
b = 44
if b < a:
    print("a is greater than  b")
else:
    print("b is greater than a")

a is greater than  b

### Elif

In [197]:
a = 65
b = 78
if a > b:
    print("a is greater than b ")
elif b > a:
    print("b is greater than a ")
else:
    print("Nothing to show u")

b is greater than a

### short cut if else

In [198]:
a = 3
b = 2
print("a is greater than b ") if a > b else print("b is greater than a ")

a is greater than b

### short Three condition at an time

In [199]:
a = 330
b = 330
#(first condition)  (---second condition---)  (third condition)       
print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [200]:
a = 1
b = 2
c = 3
if c > b and b > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

### Or

In [201]:
a = 1
b = 2
c = 3
if c > b or b > a or c > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

## Nested if-else

In [202]:
a = 100
if a > 40:
    if a > 90:
        print(a)
else:
    print("a is not valid")

100

# while loop

In [203]:
# Generating number from 1-10 using while loop.
i = 1
while i < 11:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10

In [204]:
# Using break staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        break
    print(i)

2
3
4

In [205]:
# Using continue staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9
10
11

# For Loop

In [275]:
#working with basic loop

for a in range(5):
  #indent
  print(a, "Usama")

0 Usama
1 Usama
2 Usama
3 Usama
4 Usama

In [278]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
  print(char.upper())

P
A
K
I
S
T
A
N
Z
I
N
D
A
B
A
D

In [280]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
  print(char.upper(), end="")

PAKISTANZINDABAD

In [283]:
# printing list from loop.
for student in ["usama", "rameez", "ali", "ather"]:
  print(f"the name of the stuidnetg is {student}")

the name of the stuidnetg is usama
the name of the stuidnetg is rameez
the name of the stuidnetg is ali
the name of the stuidnetg is ather

In [285]:
# printing form specefic range
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [288]:
# printing number form specefic range with step
for num in range(1,10,2):
  print(num)

1
3
5
7
9

In [292]:
# printing number form specefic range with step in reverse order
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [295]:
# printing nam eiht other string
student_list  = ["usama", "rameez", "ali", "ather"]

In [296]:
for i in student_list:
  print(i, "pakistani")

usama pakistani
rameez pakistani
ali pakistani
ather pakistani

In [276]:
}# here  we have list,set, and dictionary
#list3,varset,dict1

In [207]:
     # set   ,list, dictionary 
print(varset ,list3,  dict1)

{'how', 'you', 'world', 'am', 'fine', 'I'} [1, 2, 3, 4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab'] {'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

In [208]:
# Applying for loop to list.
for i in list3:
    print(i)

1
2
3
4
3
2
1
Qourma
Chicken biryani
Qabab

In [209]:
# Applying for loop to set.
for i in varset:
    print(i)

how
you
world
am
fine
I

In [210]:
# Applying for loop to dictionary(will print only keys).
for i in dict1:
    print(i)

fruit
mango
colour

In [211]:
# For accessing values of key (using for loop).
for i in dict1.values():
    print(i)

Orange
Chausa
Red

In [212]:
# For accessing both keys and values of dictionary(using for loop).
for k,v in dict1.items():
    print(k,v)

fruit Orange
mango Chausa
colour Red

In [213]:

varset

{'I', 'am', 'fine', 'how', 'world', 'you'}

In [214]:
# using break statement in for loop.
for i in varset:
    
    if i == "how":
        break
    print(i)

In [215]:
# Using continue statement in for loop.
for i in varset:
    if i == "how":
        continue
    print(i)
# it prints all elements except "how".

you
world
am
fine
I

### range() function in for loop.

In [216]:
for x in range(5):
    print(x)

0
1
2
3
4

In [217]:
# By assigning starting number to the range function.
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [218]:
# Incrementing in the sequence with 1.
for x in range(2,10,2):
    print(x)

2
4
6
8

### Using nested loop.

In [219]:
lis1 = ['a','b','c','d']
lis2 = [1,2,3,4]
for i in lis1:
    for j in lis2:
        print(i,j)

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4
d 1
d 2
d 3
d 4

# Function in python

In [220]:
def function1():
    print("This is my first function")
function1()

This is my first function

In [221]:
# Parametric function.
def function2(var):
    print(var)
function2("This is the second function")
function2("And it is a parametric function.")

This is the second function
And it is a parametric function.

In [222]:
# Taking multiple argument to the function.
def function3(name_var, your_name):
    print(name_var + ": " + your_name)
function3("Name","Jack")
function3("Father Name","Jonson")

Name: Jack
Father Name: Jonson

# Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [223]:
def function4(*var):
        print(var, end = '')
function4("orange", "mango")

('orange', 'mango')

## Default parameter value.

In [224]:
def func(var = "newyork"):
    print("You are in",var)
func()
func("london")
func("paris")

You are in newyork
You are in london
You are in paris

## Passing a List as an Argument

In [225]:

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Using return keword to return value.

In [226]:
# Function that return the square of number.
def retun(x):
    return x*x
var = 3
print("The square of",var,"is",retun(var))

The square of 3 is 9

## Recursion function

In [227]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Classes & Objects

In [228]:
class first:
    x = 5

obj = first()
print(obj.x)

5

### Working with constructor of class and creating varaible

In [229]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
obj1 = fruit("Orange", "Citrus")
print(obj1.fname, "is the", obj1.catagory, "catagory")

Orange is the Citrus catagory

### Creating Method

In [230]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
    def func1(self):
        print("your fruit is"+self.fname)
        
obj2 = fruit("Orange", "Citrus")
print(obj2.func1())

your fruit isOrange
None

#### The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

# Inheritance in python

In [231]:
# Creating parent class

class parent:
    def __init__(self, fname, rollno):
        self.firstname = fname;
        self.rollNumber = rollno;
    def printName(self):
        print('My name is',self.firstname,'\nand Roll number is: ',self.rollNumber);
        
        
obj = parent('Usama', 2103102);
obj.printName();

My name is Usama
and Roll number is:  2103102

In [232]:
#inheriting parent class to child class.
class child(parent):
    pass

obj = child('Usama', 4802292); # Accesing parent class method.
obj.printName();

My name is Usama
and Roll number is:  4802292

# Working with RegEx(regular expression)

In [233]:
# RegEx can be used to check if a string contains the specified search pattern.

import re

## checking for string which start from "the" and end with "ing"

In [234]:
string = "The pthon programming";
x = re.search("^The.*ing$", string)
if(x):
    print("working")
else:
    print("not working")

working

# Find a charater or string in whole string and save the the character in a list

In [235]:
a = re.findall("o", string)
print(a)

['o', 'o']

# The finding number of spaces in an string.

In [236]:
s = re.search("\s",string)
print(s.start())

3

# Seperate string into words

In [237]:
w = re.split("\s", string)
print(w)

['The', 'pthon', 'programming']

# Replacing the character/text with the text of your choice

In [238]:
r = re.sub("\s","----", string)
print(r)

The----pthon----programming