# Print and its Functions

In [3]:
print("Welcome python")

Welcome python

# print with end

In [7]:
print("Hello", end = " -  ")
print("world")

Hello -  world

In [10]:
print("Hello", end = " ### ")
print("world")

Hello ### world

In [11]:
print("Hello", end = "\n")
print("world")

Hello
world

# print two string togather

In [18]:
print('first String','Second String')

first String Second String

In [19]:
print('first String'+'Second String')

first StringSecond String

# print wtith sep

In [23]:
print("hello","word",sep = '....')

hello....word

# Variables

In [1]:
# declearing a variable
var1 = "Hello"

In [2]:
var1

'Hello'

In [3]:
# Another way
print(var1)

Hello

In [4]:
# assigning integer value to the variable.
var2 = 123

In [15]:
var2

123

In [26]:
#floating variable
var3 = 1.234455454
var3

1.234455454

In [31]:
# Boolean Variable
var4 = True
var5 = False
print(var4,var5)

True False

In [28]:
# assigning String value to the variable.
var6 = "this is a string"
var6

'this is a string'

In [29]:
# Concatinating two string with no single character space b/w them
var7 = "with second string"
var6+var7

'this is a stringwith second string'

In [30]:
'''When replacing with comma b/w them
it will create single character space b/w the string'''
print(var6,var7)

this is a string with second string

In [32]:
# Finding type data types of variale.
type(var1)

str

In [33]:
type(var2)

int

In [34]:
type(var3)

float

In [35]:
type(var4)

bool

In [36]:
type(var5)

bool

In [37]:
type(var6)

str

# Arrays

In [65]:
dishes = ["Biryani", "Qourma", "meetha"]
dishes

# dishes is the array variable and inside the bracket is its elements.

['Biryani', 'Qourma', 'meetha']

In [66]:
# Replacing a Value of element in an array.
dishes[0] = "Qabab"

In [67]:
# calling a single element. 
x = dishes[0]
x

'Qabab'

In [68]:
# Finding lenght of an array.
len(dishes)

3

In [69]:
# Adding a new element in an array list.
dishes.append("kheer")
dishes

['Qabab', 'Qourma', 'meetha', 'kheer']

In [70]:
# Deleting an element in an array by using index number.
dishes.pop(2)
dishes

['Qabab', 'Qourma', 'kheer']

In [71]:
# Deleting an element in an array by using element name.
dishes.remove("kheer")
dishes

['Qabab', 'Qourma']

In [72]:
dishes

['Qabab', 'Qourma']

In [73]:
# Making new list by copying element form the old list.
x = dishes.copy()
x

['Qabab', 'Qourma']

In [74]:
# Clear all element from of the list.
x.clear()

In [75]:
x

[]

In [76]:
int_list = (1,2,3,4)
int_list

(1, 2, 3, 4)

In [77]:
# Adding new list to the old list.
dishes.extend(int_list)

In [78]:
dishes

['Qabab', 'Qourma', 1, 2, 3, 4]

In [79]:
# Adding a new element into the list with specific index.
dishes.insert(1,"Chicken biryani")

In [80]:
dishes

['Qabab', 'Chicken biryani', 'Qourma', 1, 2, 3, 4]

In [81]:
# Reversing a list
dishes.reverse()

In [82]:
dishes

[4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [83]:
# Another way of removing element.
del dishes[0]
dishes

[3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [84]:
# Way of joining two list.
list2 = [1,2,3,4]
list3 = list2 + dishes
print(list3)

[1, 2, 3, 4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

# Tuples

In [85]:
tuple1 = (1,2,3)
print(tuple1)

(1, 2, 3)

In [86]:
tuple2 = ("A","B","C")
tuple2

('A', 'B', 'C')

## Set
A set is a collection which is unordered and unindexed

In [87]:
varset = {"how", "are", "you"}
print(varset)

{'how', 'you', 'are'}

In [88]:
# Checking condition.
print("are" in  varset)

True

In [89]:
# Adding an item in the set.

varset.add("world")

In [90]:
varset

{'are', 'how', 'world', 'you'}

In [91]:
# Add multiple items to a set

varset.update(["I","am","fine"])
varset

{'I', 'am', 'are', 'fine', 'how', 'world', 'you'}

In [92]:
# Removing item in the set.
"""varset.remove("are")
varset"""
# set does'nt support remove function.

'varset.remove("are")\nvarset'

In [93]:
varset.discard("are")
varset

{'I', 'am', 'fine', 'how', 'world', 'you'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed.
In Python dictionaries are written with curly brackets, and they have keys and values.

In [94]:
dict1 = {"key": "Locker", "fruit":"apple", "mango": "Chausa"}
dict1

{'key': 'Locker', 'fruit': 'apple', 'mango': 'Chausa'}

In [95]:
x = dict1["key"]
x

'Locker'

In [96]:
x = dict1.get("key")
x

'Locker'

In [97]:
#Another way of creating dictionaries.
dict2 = dict(brand="Ford", model="Mustang", year=1964)
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [98]:
# Assigning different value to the key.
dict1["fruit"] = "Orange"

In [99]:
dict1

{'key': 'Locker', 'fruit': 'Orange', 'mango': 'Chausa'}

In [100]:
# Adding item in the dictionary.
dict1

{'key': 'Locker', 'fruit': 'Orange', 'mango': 'Chausa'}

In [101]:
dict1["colour"] = "Red"

In [102]:
dict1

{'key': 'Locker', 'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

In [103]:
# Removing item with the specific key name in the dictionary.
dict1.pop("key")

'Locker'

In [104]:
dict1
# Another wayof removing item by del keyword.

{'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

### Nested dictionary

In [105]:
Courses = {
  "course1" : {
    "name" : "OS",
    "year" : 2019
  },
  "course2" : {
    "name" : "WE",
    "year" : 2019
  },
  "course3" : {
    "name" : "DBMS",
    "year" : 2019
  }
}
Courses

{'course1': {'name': 'OS', 'year': 2019},
 'course2': {'name': 'WE', 'year': 2019},
 'course3': {'name': 'DBMS', 'year': 2019}}

In [106]:
# Another way of nesting a dictionaries.
course1 = {
    "name" : "OS",
    "year" : 2019
  }
course2 = {
    "name" : "WE",
    "year" : 2019
  }
course3 = {
    "name" : "DBMS",
    "year" : 2019
  }
Course = {
    "mycourse1": course1,
    "mycourse2": course2,
}
Course

{'mycourse1': {'name': 'OS', 'year': 2019},
 'mycourse2': {'name': 'WE', 'year': 2019}}

# (Conditions)

### if else

In [107]:
a = 55
b = 44
if b < a:
    print("a is greater than  b")
else:
    print("b is greater than a")

a is greater than  b

### Elif

In [108]:
a = 65
b = 78
if a > b:
    print("a is greater than b ")
elif b > a:
    print("b is greater than a ")
else:
    print("Nothing to show u")

b is greater than a

### short cut if else

In [109]:
a = 3
b = 2
print("a is greater than b ") if a > b else print("b is greater than a ")

a is greater than b

### short Three condition at an time

In [110]:
a = 330
b = 330
#(first condition)  (---second condition---)  (third condition)       
print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [111]:
a = 1
b = 2
c = 3
if c > b and b > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

### Or

In [112]:
a = 1
b = 2
c = 3
if c > b or b > a or c > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

## Nested if-else

In [113]:
a = 100
if a > 40:
    if a > 90:
        print(a)
else:
    print("a is not valid")

100

# while loop

In [114]:
# Generating number from 1-10 using while loop.
i = 1
while i < 11:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10

In [115]:
# Using break staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        break
    print(i)

2
3
4

In [116]:
# Using continue staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9
10
11

# For Loop

In [117]:
# here  we have list,set, and dictionary
#list3,varset,dict1

In [120]:
     # set   ,list, dictionary 
print(varset ,list3,  dict1)

{'world', 'you', 'how', 'I', 'am', 'fine'} [1, 2, 3, 4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab'] {'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

In [121]:
# Applying for loop to list.
for i in list3:
    print(i)

1
2
3
4
3
2
1
Qourma
Chicken biryani
Qabab

In [123]:
# Applying for loop to set.
for i in varset:
    print(i)

world
you
how
I
am
fine

In [125]:
# Applying for loop to dictionary(will print only keys).
for i in dict1:
    print(i)

fruit
mango
colour

In [126]:
# For accessing values of key (using for loop).
for i in dict1.values():
    print(i)

Orange
Chausa
Red

In [132]:
# For accessing both keys and values of dictionary(using for loop).
for k,v in dict1.items():
    print(k,v)

fruit Orange
mango Chausa
colour Red

In [137]:

varset

{'I', 'am', 'fine', 'how', 'world', 'you'}

In [139]:
# using break statement in for loop.
for i in varset:
    
    if i == "how":
        break
    print(i)

world
you

In [141]:
# Using continue statement in for loop.
for i in varset:
    if i == "how":
        continue
    print(i)
# it prints all elements except "how".

world
you
I
am
fine

### range() function in for loop.

In [142]:
for x in range(5):
    print(x)

0
1
2
3
4

In [145]:
# By assigning starting number to the range function.
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [147]:
# Incrementing in the sequence with 1.
for x in range(2,10,2):
    print(x)

2
4
6
8

### Using nested loop.

In [154]:
lis1 = ['a','b','c','d']
lis2 = [1,2,3,4]
for i in lis1:
    for j in lis2:
        print(i,j)

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4
d 1
d 2
d 3
d 4

# Function in python

In [160]:
def function1():
    print("This is my first function")
function1()

This is my first function

In [162]:
# Parametric function.
def function2(var):
    print(var)
function2("This is the second function")
function2("And it is a parametric function.")

This is the second function
And it is a parametric function.

In [167]:
# Taking multiple argument to the function.
def function3(name_var, your_name):
    print(name_var + ": " + your_name)
function3("Name","Jack")
function3("Father Name","Jonson")

Name: Jack
Father Name: Jonson

# Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [169]:
def function4(*var):
        print(var, end = '')
function4("orange", "mango")

('orange', 'mango')

## Default parameter value.

In [175]:
def func(var = "newyork"):
    print("You are in",var)
func()
func("london")
func("paris")

You are in newyork
You are in london
You are in paris

## Passing a List as an Argument

In [174]:

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Using return keword to return value.

In [177]:
# Function that return the square of number.
def retun(x):
    return x*x
var = 3
print("The square of",var,"is",retun(var))

The square of 3 is 9

## Recursion function

In [178]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Classes & Objects

In [1]:
class first:
    x = 5

obj = first()
print(obj.x)

5

### Working with constructor of class and creating varaible

In [4]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
obj1 = fruit("Orange", "Citrus")
print(obj1.fname, "is the", obj1.catagory, "catagory")

Orange is the Citrus catagory

### Creating Method

In [8]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
    def func1(self):
        print("your fruit is"+self.fname)
        
obj2 = fruit("Orange", "Citrus")
print(obj2.func1())

your fruit is Orange
None

#### The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

# Inheritance in python

In [2]:
# Creating parent class

class parent:
    def __init__(self, fname, rollno):
        self.firstname = fname;
        self.rollNumber = rollno;
    def printName(self):
        print('My name is',self.firstname,'\nand Roll number is: ',self.rollNumber);
        
        
obj = parent('Usama', 2103102);
obj.printName();

My name is Usama
and Roll number is:  2103102

In [3]:
#inheriting parent class to child class.
class child(parent):
    pass

obj = child('Usama', 4802292); # Accesing parent class method.
obj.printName();

My name is Usama
and Roll number is:  4802292