<a href="https://colab.research.google.com/github/Muhammad-Usama-07/Complete-Python-Development/blob/master/.ipynb_checkpoints/Starting%20with%20python%20Programming-checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print and its Functions

In [ ]:
print("Welcome python")

# print with end

In [ ]:
print("Hello", end = " -  ")
print("world")

In [ ]:
print("Hello", end = " ### ")
print("world")

In [ ]:
print("Hello", end = "\n")
print("world")

# print two string togather

In [ ]:
print('first String','Second String')

In [ ]:
print('first String'+'Second String')

# print wtith sep

In [ ]:
print("hello","word",sep = '....')

# Variables

In [ ]:
# declearing a variable and passing by value
var1 = "Hello"

In [ ]:
var1

In [ ]:
varr2 = var1 # passing by reference
print(varr2)

In [ ]:
# Another way
print(var1)

In [ ]:
# assigning integer value to the variable.
var2 = 123

In [ ]:
var2

In [ ]:
#floating variable
var3 = 1.234455454
var3

In [ ]:
# Boolean Variable
var4 = True
var5 = False
print(var4,var5)

In [ ]:
# assigning String value to the variable.
var6 = "this is a string"
var6

In [ ]:
id(var6)

In [ ]:
# Concatinating two string with no single character space b/w them
var7 = "with second string"
var6+var7

In [ ]:
'''When replacing with comma b/w them
it will create single character space b/w the string'''
print(var6,var7)

In [ ]:
# Finding type data types of variale.
type(var1)

In [ ]:
type(var2)

In [ ]:
type(var3)

In [ ]:
type(var4)

In [ ]:
type(var5)

In [ ]:
type(var6)

In [ ]:
#finding class of varriable type 
print(type(var6))

In [ ]:
#checking variable equality
id(var1)==id(varr2)

In [ ]:
# finding index number in the string
varrr3 = "Pakistan"
varrr3.find('s')

In [ ]:
# finding lenght of variable
len(varr3)

In [ ]:
# Concatinating two String
name = "pakistan"
dobyear = 1947

print("my name is "+name+" and my birth year is "+str(dobyear))

# Arrays

In [ ]:
dishes = ["Biryani", "Qourma", "meetha"]
dishes

# dishes is the array variable and inside the bracket is its elements.

In [ ]:
# Replacing a Value of element in an array.
dishes[0] = "Qabab"

In [ ]:
# calling a single element. 
x = dishes[0]
x

In [ ]:
# Finding lenght of an array.
len(dishes)

In [ ]:
# Adding a new element in an array list.
dishes.append("kheer")
dishes

In [ ]:
# Deleting an element in an array by using index number.
dishes.pop(2)
dishes

In [ ]:
# Deleting an element in an array by using element name.
dishes.remove("kheer")
dishes

In [ ]:
dishes

In [ ]:
# Making new list by copying element form the old list.
x = dishes.copy()
x

In [ ]:
# Clear all element from of the list.
x.clear()

In [ ]:
x

In [ ]:
int_list = (1,2,3,4)
int_list

In [ ]:
# Adding new list to the old list(by adding separate elemnets).
dishes.extend(int_list)

In [ ]:
dishes

In [ ]:
# Adding a new element into the list with specific index.
dishes.insert(1,"Chicken biryani")

In [ ]:
dishes

In [ ]:
# Reversing a list
dishes.reverse()

In [ ]:
dishes

In [ ]:
# Another way of removing element.
del dishes[0]
dishes

In [ ]:
# first Way of joining two list.
list2 = [1,2,3,4]
list3 = list2 + dishes
print(list3)

# Tuples

In [ ]:
tuple1 = (1,2,3)
print(tuple1)

In [ ]:
tuple2 = ("A","B","C")
tuple2

In [ ]:
type(tuple1)

In [ ]:
# convert list to tuple
list_to_tuple = list(tuple1)
list_to_tuple

## Set
A set is a collection which is unordered and unindexed

In [ ]:
varset = {"how", "are", "you"}
print(varset)

In [ ]:
# Checking condition.
print("are" in  varset)

In [ ]:
# Adding an item in the set.

varset.add("world")

In [ ]:
varset

In [ ]:
# Add multiple items to a set

varset.update(["I","am","fine"])
varset

In [ ]:
# Removing item in the set.
"""varset.remove("are")
varset"""
# set does'nt support remove function.

In [ ]:
varset.discard("are")
varset

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed.
In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dict1 = {"key": "Locker", "fruit":"apple", "mango": "Chausa"}
dict1

In [ ]:
x = dict1["key"]
x

In [ ]:
x = dict1.get("key")
x

In [ ]:
#Another way of creating dictionaries.
dict2 = dict(brand="Ford", model="Mustang", year=1964)
dict2

In [ ]:
# Assigning different value to the key.
dict1["fruit"] = "Orange"

In [ ]:
dict1

In [ ]:
# Adding item in the dictionary.
dict1

In [ ]:
dict1["colour"] = "Red"

In [ ]:
dict1

In [ ]:
# Removing item with the specific key name in the dictionary.
dict1.pop("key")

In [ ]:
dict1
# Another wayof removing item by del keyword.

### Nested dictionary

In [ ]:
Courses = {
  "course1" : {
    "name" : "OS",
    "year" : 2019
  },
  "course2" : {
    "name" : "WE",
    "year" : 2019
  },
  "course3" : {
    "name" : "DBMS",
    "year" : 2019
  }
}
Courses

In [ ]:
# Another way of nesting a dictionaries.
course1 = {
    "name" : "OS",
    "year" : 2019
  }
course2 = {
    "name" : "WE",
    "year" : 2019
  }
course3 = {
    "name" : "DBMS",
    "year" : 2019
  }
Course = {
    "mycourse1": course1,
    "mycourse2": course2,
}
Course

# (Conditions)

### if else

In [ ]:
a = 55
b = 44
if b < a:
    print("a is greater than  b")
else:
    print("b is greater than a")

### Elif

In [ ]:
a = 65
b = 78
if a > b:
    print("a is greater than b ")
elif b > a:
    print("b is greater than a ")
else:
    print("Nothing to show u")

### short cut if else

In [ ]:
a = 3
b = 2
print("a is greater than b ") if a > b else print("b is greater than a ")

### short Three condition at an time

In [ ]:
a = 330
b = 330
#(first condition)  (---second condition---)  (third condition)       
print("A") if a > b else print("=") if a == b else print("B")

### And

In [ ]:
a = 1
b = 2
c = 3
if c > b and b > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

### Or

In [ ]:
a = 1
b = 2
c = 3
if c > b or b > a or c > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

## Nested if-else

In [ ]:
a = 100
if a > 40:
    if a > 90:
        print(a)
else:
    print("a is not valid")

# while loop

In [ ]:
# Generating number from 1-10 using while loop.
i = 1
while i < 11:
    print(i)
    i+= 1

In [ ]:
# Using break staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        break
    print(i)

In [ ]:
# Using continue staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        continue
    print(i)

# For Loop

In [ ]:
#working with basic loop

for a in range(5):
  #indent
  print(a, "Usama")

In [ ]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
  print(char.upper())

In [ ]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
  print(char.upper(), end="")

In [ ]:
# printing list from loop.
for student in ["usama", "rameez", "ali", "ather"]:
  print(f"the name of the stuidnetg is {student}")

In [ ]:
# printing form specefic range
for num in range(1,10):
  print(num)

In [ ]:
# printing number form specefic range with step
for num in range(1,10,2):
  print(num)

In [ ]:
# printing number form specefic range with step in reverse order
for num in range(10,0,-1):
  print(num)

In [ ]:
# printing nam eiht other string
student_list  = ["usama", "rameez", "ali", "ather"]

In [ ]:
for i in student_list:
  print(i, "pakistani")

In [ ]:
emptylist = []
for i in student_list:
  emptylist.append(f"{i} pakistani")

In [ ]:
print(emptylist)

In [ ]:
#changing string data
for num in range(len(student_list)):
  student_list[num] = student_list[num] + " pakistani"
student_list

In [ ]:
# here  we have list,set, and dictionary
#list3,varset,dict1

In [ ]:
     # set   ,list, dictionary 
print(varset ,list3,  dict1)

In [ ]:
# Applying for loop to list.
for i in list3:
    print(i)

In [ ]:
# Applying for loop to set.
for i in varset:
    print(i)

In [ ]:
# Applying for loop to dictionary(will print only keys).
for i in dict1:
    print(i)

In [ ]:
# For accessing values of key (using for loop).
for i in dict1.values():
    print(i)

In [ ]:
# For accessing both keys and values of dictionary(using for loop).
for k,v in dict1.items():
    print(k,v)

In [ ]:

varset

In [ ]:
# using break statement in for loop.
for i in varset:
    
    if i == "how":
        break
    print(i)

In [ ]:
# Using continue statement in for loop.
for i in varset:
    if i == "how":
        continue
    print(i)
# it prints all elements except "how".

In [ ]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

for num in range(2000, 3201):
  if(num%7 == 0):
    if(num%5 != 0):
      print(num, end=',')

### range() function in for loop.

In [ ]:
for x in range(5):
    print(x)

In [ ]:
# By assigning starting number to the range function.
for x in range(2,10):
    print(x)

In [ ]:
# Incrementing in the sequence with 1.
for x in range(2,10,2):
    print(x)

### Using nested loop.

In [ ]:
lis1 = ['a','b','c','d']
lis2 = [1,2,3,4]
for i in lis1:
    for j in lis2:
        print(i,j)

# Function in python

In [ ]:
def function1():
    print("This is my first function")
function1()

In [ ]:
#function defininion
def call():
  name = input("Enter Your name: ")
  print(f"Welcome {name}")

In [ ]:
call()

In [ ]:
#function defininion
def call():
  name = input("Enter Your name: ")
  gender = input("Enter gender:").lower()
  if(gender == 'male'):
    print(f"Welcome Mr. {name}")
  else:
    print(f"Welcome Ms. {name}")

In [ ]:
call()

In [ ]:
#trick 01
list1 = []
def even_odd_func():
  num1 = 0
  flag = True
  while(flag):
    num = input("Enter number/ write 'q' to exit")
    list1.append(num)
    if(num == 'q'):
      if(int(list1[-2]) % 2 == 0):
        print("your number is even")
      else :
        print("your number is odd")  
      flag = False

In [ ]:
even_odd_func()

In [ ]:
#trick 02
def even_odd_func():
  while(True):
    num = input("Enter number/ write 'q' to exit")
    if(num != 'q'):
      if(int(num) % 2 == 0):
        print("your number is even")
      else :
        print("your number is odd")  
    else:
      break

In [ ]:
even_odd_func()

In [ ]:
# Parametric function.
def function2(var):
    print(var)
function2("This is the second function")
function2("And it is a parametric function.")

In [ ]:
# Taking multiple argument to the function.
def function3(name_var, your_name):
    print(name_var + ": " + your_name)
function3("Name","Jack")
function3("Father Name","Jonson")

# Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def function4(*var):
        print(var, end = '')
function4("orange", "mango")

## Default parameter value.

In [ ]:
def func(var = "newyork"):
    print("You are in",var)
func()
func("london")
func("paris")

## Passing a List as an Argument

In [ ]:

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

## Using return keword to return value.

In [ ]:
# Function that return the square of number.
def retun(x):
    return x*x
var = 3
print("The square of",var,"is",retun(var))

## Recursion function

In [ ]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

# Classes & Objects

In [ ]:
class first:
    x = 5

obj = first()
print(obj.x)

### Working with constructor of class and creating varaible

In [ ]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
obj1 = fruit("Orange", "Citrus")
print(obj1.fname, "is the", obj1.catagory, "catagory")

### Creating Method

In [ ]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
    def func1(self):
        print("your fruit is"+self.fname)
        
obj2 = fruit("Orange", "Citrus")
print(obj2.func1())

#### The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

# Inheritance in python

In [ ]:
# Creating parent class

class parent:
    def __init__(self, fname, rollno):
        self.firstname = fname;
        self.rollNumber = rollno;
    def printName(self):
        print('My name is',self.firstname,'\nand Roll number is: ',self.rollNumber);
        
        
obj = parent('Usama', 2103102);
obj.printName();

In [ ]:
#inheriting parent class to child class.
class child(parent):
    pass

obj = child('Usama', 4802292); # Accesing parent class method.
obj.printName();

# Working with RegEx(regular expression)

In [ ]:
# RegEx can be used to check if a string contains the specified search pattern.

import re

## checking for string which start from "the" and end with "ing"

In [ ]:
string = "The pthon programming";
x = re.search("^The.*ing$", string)
if(x):
    print("working")
else:
    print("not working")

# Find a charater or string in whole string and save the the character in a list

In [ ]:
a = re.findall("o", string)
print(a)

# The finding number of spaces in an string.

In [ ]:
s = re.search("\s",string)
print(s.start())

# Seperate string into words

In [ ]:
w = re.split("\s", string)
print(w)

# Replacing the character/text with the text of your choice

In [ ]:
r = re.sub("\s","----", string)
print(r)

# Dictionary comprihension

In [ ]:
oldPrice = {'buiryani': 150, 'tikka': 300, 'Fish': 400,'cold':200}

In [ ]:
new_price = {item: (price/160) for item,price in oldPrice.items()}

In [ ]:
new_price

In [ ]:
new_price = {item: round(price/160,2) for item,price in oldPrice.items()}

In [ ]:
new_price

In [ ]:
#using math library
import math

In [ ]:
math.floor(12.66)

In [ ]:
math.ceil(12.77)

In [ ]:
new_price = {item: math.ceil(price/160) for item,price in oldPrice.items()}

In [ ]:
new_price

In [ ]:
new_price_in_dollar = {item: (price/160) for item,price in oldPrice.items()}

In [ ]:
new_price_in_dollar

In [ ]:
updat_price = {item: (price/160) for item,price in oldPrice.items()}

In [ ]:
updated_price

In [ ]:
# Question: : Make a dictionary containing three major rivers and the country
#each river runs through. One key-value pair might be 'nile': 'egypt'.

In [ ]:
rivers = {'nile': 'egypt', 'indus': 'Pakistan', 'liao': 'china'}

In [ ]:
#Use a loop to print a sentence about each river, such as The Nile runs through Egypt.
for key,val in rivers.items():
   print(f"The {key} runs through {val}")

In [ ]:
#Use a loop to print the name of each river included in the dictionary
for key in rivers.keys():
   print(f"The name of river {key}")

In [ ]:
#Use a loop to print the name of each country included in the dictionary
for val in rivers.values():
   print(f"The name of river {val}")

# List of list

In [ ]:
listoflist = [[0,1,2,3,],
              [1,2,3],
              ['a','b','c']]

In [ ]:
listoflist[-1][-1]

# List of Dictionary

In [ ]:
listofdic = [oldPrice, new_price, new_price_in_dollar]
listofdic

In [ ]:
listofdic[0]['Fish']

# Dictionary of dictionary

In [ ]:
dicofdic = {'saylani':
            {'smit': ['web', 'ds', 'ccna', 'ai'],
             'health': ['opd', 'ot']
            },
            'University': {
                  'CS': ['1st', '2nd', '3rd', '4th'],
                  'admin': ['fees', 'timetable', 'exam']
            }
            }

In [ ]:
'University' in dicofdic

In [ ]:
'smit' in dicofdic['saylani']

In [ ]:
for pk, pv in dicofdic.items():
  if pk == 'University':
    for uk,uv in dicofdic[pk].items():
      if uk == 'admin':
        print('exam' in uv)

In [ ]:
#Dictionary Question:
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
#Suppose the following input is supplied to the program:
adict = {}
n = int(input())
for num in range(1,n+1):
  adict[num] = num*num

In [ ]:
adict

# Module

In [ ]:
%run textutility.py

In [ ]:
import textutility as tu

In [ ]:
tu.remove_punctuation()

# Generators

# files & Exceptions

# List all the files of the directory

In [2]:
import os
os.listdir('/content/sample_data')

['anscombe.json',
 'README.md',
 'mnist_train_small.csv',
 'california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_test.csv']